<main>
    <app-navigation-bar></app-navigation-bar>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
            <div class="col-2">
                <app-pokemon-card-item></app-pokemon-card-item>
            </div>
        </div>
    </div>
</main>