<main>
    <app-navigation-bar></app-navigation-bar>
    <div class="container">
        <h1>Trainer Page</h1>
        <div class="row">
            <div class="col-3">
                <div class="custom-card water">
                    <div class="row justify-content-center">
                        <p>#001</p>
                    </div>
                    <div class="pokemon-image">
                        <img src="assets/sprites/7.png" alt="7.png">
                    </div>
                    <div class="custom-card-body">
                        <div class="row">
                            <h2>Squirtle</h2>
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="col type">
                                <p>icon</p>
                                <p>Water</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <p>Height:</p>
                            </div>
                            <div class="col">
                                <p>10.6 cm</p>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col">
                                <p>Weight:</p>
                            </div>
                            <div class="col">
                                <p>7.2 kg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                
            </div>
            <div class="col-3">
                
            </div>
            <div class="col-3">
                
            </div>
        </div>
    </div>
</main>