<nav class="navigation-bar">
  <div class="container">
    <a class="navbar-text" routerLink="/">Pokemon Trainer</a>
    <div class="navbar-right">
      <a class="trainer-link navbar-text" routerLink="/trainer"
        >Trainer: {{ trainerName }}</a
      >
      <a
        class="trainer-link-logout navbar-text"
        routerLink="/"
        (click)="onLogoutLinkClick()"
        ><i class="fas fa-sign-out-alt"></i
      ></a>
      <a class="navbar-text" routerLink="/pokemon-catalogue">Pokemon Catalogue</a>
    </div>
  </div>
</nav>
