.navigation-bar {
  padding: 2vh 0;
  background-color: #e2e2e2;
  text-transform: uppercase;
  margin-bottom: 4vh;
  border-bottom: 1px solid rgb(207, 207, 207);
  -webkit-box-shadow: 0px 0px 5px 2px #909090;
  box-shadow: 0px 0px 5px 2px #909090;
}

.navigation-bar a {
  text-decoration: none;
  color: #3b3b3b;
  transition: color 0.3s;
}

.navigation-bar a:hover {
    color: #2a75bb;
}

.pokemon-font {
  font-family: Pokemon-Solid;
  font-size: 120%;
  letter-spacing: 4px;
  color: #ffcb05;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2a75bb;
  transition: all 0.3s;
}

a.pokemon-font {
  display: inline-block;
  text-decoration: none;
}

a.pokemon-font:hover {
  color: #2a75bb;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffcb05;
}

.navbar-text {
  font-weight: 700;
}

.navbar-right {
  display: inline;
  float: right;
}

.trainer-link {
  margin-right: 2vw;
}

.trainer-link-logout {
  margin-right: 2vw;
}
