<div class="custom-card water">
    <div class="row justify-content-center">
        <h6>#001</h6>
    </div>
    <div class="pokemon-image">
        <img src="assets/sprites/34.png" alt="7.png">
    </div>
    <div class="custom-card-body">
        <div class="row">
            <h3>Squirtle</h3>
        </div>
        
        <div class="row">
            <div class="col"></div>
            <div class="col type water">
                <i class="fas fa-tint"></i>
                <p>Water</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p>Height:</p>
            </div>
            <div class="col">
                <p>10.6 cm</p>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col">
                <p>Weight:</p>
            </div>
            <div class="col">
                <p>7.2 kg</p>
            </div>
        </div>
    </div>
</div>