<!-- Adds custom css class based on pokemon type. eg. water-type add class .water to css.
    Calls the catchPokemon method for catching the specific pokemon.
-->
<div
  class="custom-card {{ pokemon!.types[0].type.name }}"
  (click)="catchPokemon()"
>
    <!-- Displays a pokeball in upper-right corner if pokemon has been caught. -->
  <div class="pokeball-container" *ngIf="hasBeenCaught">
    <img
      class="pokeball-img"
      src="assets/images/poke-ball.png"
      alt="poke-ball.png"
    />
  </div>
  <div class="row justify-content-center pokemon-id">
      <!-- Displays the formatted pokemon id. -->
    <h5>{{ convertPokemonId(pokemon!.id) }}</h5>
  </div>
  <!-- Displays the image based on pokemon id. -->
  <div class="pokemon-image">
    <img
      src="assets/sprites/{{ pokemon!.id }}.png"
      alt="{{ pokemon!.id }}.png"
    />
  </div>
  <div class="custom-card-body">
    <div class="row">
    <!-- Displays the pokemons name with a capitalized first letter. -->
      <h3>{{ capitalizeFirstLetter(pokemon!.name) }}</h3>
    </div>
    <div class="row justify-content-center">
    <!-- Creates pokemon-type components based on how many types the pokemon has. -->
      <app-pokemon-type
        class="col-5"
        *ngFor="let type of pokemon!.types"
        [pokemon_type_string]="capitalizeFirstLetter(type.type.name)"
      ></app-pokemon-type>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <p>Height:</p>
      </div>
      <div class="col-4">
          <!-- Displays pokemons height, since they are listed in dm from the API we convert to meters. -->
        <p>{{ pokemon!.height / 10 }} m</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <p>Weight:</p>
      </div>
      <div class="col-4">
          <!-- Displays pokemons weight, since they are listed in hg from the API we convert to kg. -->
        <p>{{ pokemon!.weight / 10 }} kg</p>
      </div>
    </div>
  </div>
</div>
