.custom-card {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    border: 1px solid rgb(199, 199, 199);
}

.custom-card-body {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.pokemon-id {
    margin-top: 2vh;
}

.pokemon-image {
    position: relative;
    width: 100%;
    /*height: 25vh;*/
    text-align: center;
}

.pokemon-image img {
    /*position: absolute;*/
    width: 80%;
    padding-bottom: 10px;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

.type-container {
    flex-wrap: nowrap;
}

.pokeball-container {
    position: relative;
}

.pokeball-img {
    position: absolute;
    width: 30px;
    height: auto;
    top: 1.7vh;
    right: 1vw;
}
/*.type {
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 4px;
}

.type i,
.type p {
    display: inline;
}

.type i {
    margin-right: 5px;
}

.type:nth-child(2) {
    margin-left: 10px;
}*/