.custom-card {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  border: 1px solid rgb(199, 199, 199);
  -webkit-box-shadow: 0px 3px 5px 0px #909090;
  box-shadow: 0px 3px 5px 0px #909090;
}

.custom-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.custom-card-body {
  background-color: white;
  border-radius: 28px;
  padding: 10px;
}

.pokemon-id {
  margin-top: 2vh;
}

.pokemon-image {
  position: relative;
  width: 100%;
  text-align: center;
}

.pokemon-image img {
  width: 80%;
  padding-bottom: 10px;
}

.type-container {
  flex-wrap: nowrap;
}

.pokeball-container {
  position: relative;
}

.pokeball-img {
  position: absolute;
  width: 30px;
  height: auto;
  top: 1.7vh;
  right: 1vw;
}
